@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

body {
  font-family: 'Lato', serif;  
    text-align: center;
    margin: 20px;
  }

h1{
  font-family: 'Amatic SC', serif;
  font-size: 50px;
  font-style: normal;
}
  img {
    max-width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
  }
  button {
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Amatic Sc', serif;
    border-radius: 10px;
  }